@media screen {
    .teasers {
        overflow: hidden;
    }
    .teasers > div { overflow: hidden; }
    .teasers > div > div {
        float: left;
        width: 23.5%;
        margin: 0 2% 0 0;
        padding: 16.8% 0 0;
        position: relative;
    }
    .teasers > div > div:last-child {
        margin: 0;
    }
    .teasers h2 {
        font-family: 'Avenir LT W02 55 Roman';
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -1px;
        margin: 0 0 12px;
    }
    .teasers img {
        max-width: 100%;
        border: 4px solid #fff;
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
    }
    .teasers p {
        font-size: 13px;
        line-height: 1.3;
    }
    .teasers p strong {
        text-indent: -9999px;
        display: inline-block;
    }
    .teasers .price { display: none; }
    .teasers .location {
        margin: 1em 0;
        font-size: 12px;
        color: #666;
    }
    .teasers .location strong {
        width: 13px;
        background-position: -47px 0;
        opacity: .3;
    }
    .wide-teasers {
        margin-top: -20px;
    }
    .wide-teasers > div > div {
        width: 49%;
        padding: 33px 0 0 0;
        margin: 0;
        box-sizing: border-box;
        border-bottom: 1px solid #e3e3e3;
        height: 152px;
    }
    .wide-teasers > div > div:nth-last-child(-n+2) {
        border: 0;
    }
    .wide-teasers > div > div:nth-child(odd) {
        float: left;
        width: 51%;
    }
    .wide-teasers img {
        max-width:none;
        width: 118px;
        top: 30px;
    }
    .wide-teasers h2,
    .wide-teasers p {
        padding-left: 135px;
        padding-right: 20px;
    }
    
    body.gallery .wrap {
        padding-right: 0;
    }

    body.gallery .introduction,
    body.gallery #categories {
        width: 75%;        
    }
    body.gallery #upload-action {
        position: absolute;
        right: 12px;
        top: 122px;
        font-family: 'Avenir LT W02 85 Heavy';
        padding: 12px 25px;
    }
    body.gallery #categories {
        margin: 30px 0;
    }
    body.gallery #categories ul {
        display: inline-block;
    }
    body.gallery #categories li {
        display: inline-block;
        background-size: 200px 250px;
        background-repeat: no-repeat;
        background-image: url(/static/images/sprite.png);
        background-position: 0 -58px;
        padding: 0 0 0 12px;
        margin: 0 5px 0 0;
    }
    body.gallery #categories li a {
        background-color: #39beb8;
        height: 25px;
        display: block;
        line-height: 25px;
        color: #ffffff;
        padding:0 10px 0 7px;
        border-radius: 0 2px 2px 0;
    }
    body.gallery #categories-more-action {
        display: inline-block;
    }

    body.gallery #gallery {
        padding: 0 0 60px;
        text-align: center;
    }
    body.gallery #gallery ul {
        margin: 50px 0px 0 0;
    }
    body.gallery #gallery img {
        max-width: 100%;
        border: 4px solid #fff;
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        
    }
    body.gallery #gallery li {
        width: 24.95%;
        display: block;
        float: left;
        padding:0 20px 16px 0;
        box-sizing: border-box;
        position: relative;
    }

    body.gallery #gallery li:hover img {
        /*opacity: 0.5;*/
        

    }
    body.gallery #gallery-paging-action {
        background: #fafafa;
        color: #666;
        text-shadow: none;
        font-family: 'Avenir LT W02 85 Heavy';
        margin: 30px auto 0;
        box-sizing: border-box;
        box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.10) inset, 0 0 1px rgba(0,0,0,0.15);
        display: block;
        width: 239px;
        clear: both;
    }
    body.gallery #gallery-paging-action.loading {
        text-indent: -9999px;
        background: #fff url(/static/images/load.gif) no-repeat 50% 8px;
        background-size: 16px;
    }
        


    body.gallery #gallery .metadata-anchor {
        background-position: -82px -22px;
        height: 17px;
        width: 17px;
        right: 21px;
        bottom: 25px;
        position: absolute;
        display: none;
    }

    body.gallery #gallery .enlarge {
        background-position: -136px -93px;
        display: block;
        width: 46px;
        height: 46px;
        margin-top: -34px;
        margin-left: -23px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 999;
        display: none;

    }

    body.gallery #metadata {
        position: absolute;
        bottom: -289px;
        right: -86px;
        background: rgba(51, 51, 51, 0.98);
        width: 230px;
        height: 300px;
        border-radius: 2px;
        z-index: 9999;
        color: #ffffff;
        text-align: left;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        padding: 12px;
        box-sizing: border-box;
        box-shadow: inset 0 -3px 0 #282828;
    }
    body.gallery #metadata h1 {
        text-transform: uppercase;
        font-size: 12px;
        color: #ffffff;
        font-family: 'Avenir LT W02 85 Heavy';
        padding: 4px 0 0;
    }
    body.gallery #metadata .exif {
        color: #fcffca;
        margin: 55px 0 0;
        border-top: 1px solid #484848;
        padding: 10px 0 0;
    }
    body.gallery #metadata .photographer {
        width: 16px;
        height: 12px;
        background-position: -97px 0px;
        vertical-align: middle;
    }
    body.gallery #metadata em {
        color: #aeaead;
        margin-bottom: 7px;
        display: block;
        font-size: 11px;
    }
    body.gallery #metadata .exif li {
        width: 19%;
        padding: 0;
        text-align: center;
        font-size: 10px;
        font-family: 'Avenir LT W02 85 Heavy';
        white-space: nowrap;
    }
    body.gallery #metadata .exif li span {
        background:#fcffca;
        color: #333;
        text-shadow: none;
        padding: 0 2px;
        border-radius: 1px;
    }
    body.gallery #metadata .exif li:first-child {
        width: 24%; 
        text-align: left;
    }
    body.gallery #metadata .exif li:last-child { text-align: right; }

    body.gallery #metadata .arrow {
        width: 16px;
        height: 8px;
        display: block;
        position: absolute;
        top: -8px;
        left: 107px;
        background-position: -129px 0;
    }

    body.gallery #metadata #map {
        width: 100%;
        height: 125px;
        background: #000;
        text-shadow: none;
        color: #666;
        margin: 25px 0 0;
        background: url(/static/images/nomap.png) no-repeat;
        background-size: 206px 126px;
    }
    body.gallery #metadata #map .gmnoprint > div {
        background: none !important;
    }
        body.gallery #metadata #map .gmnoprint a {
            text-decoration: none;
        }


    body.gallery #metadata #map {
        
    }
    #upload {
        position: relative;
    }
    #upload form {
        overflow: hidden;
    }
    #upload form > div {
        
    }
    #upload .close {
        width: 13px;
        height: 13px;
        position: absolute;
        top: 22px;
        right: 20px;
        background-position: -124px -22px;
        opacity: .2;
        -webkit-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out;
    }
    #upload .close:hover {
        opacity: .5;
    }
    #upload .upload {
        width: 35%;
        float: left;
    }
    #upload #droparea {
        background: url(/static/images/sprite.png) no-repeat 0 -95px;
        background-size: 200px 250px;
        width: 111px;
        height: 111px;
        opacity: .2;
        margin: 35px auto 22px auto;
        -webkit-transition: opacity .1s ease-in-out;
        transition: opacity .1s ease-in-out;
    }   
    #upload #droparea.hover {
        opacity: .3;
    }

    #upload progress {
        border-radius: 3px;
        height: 6px;
        background: #fff;
        width: 65px;
        margin: 0 auto;
        display: block;
        border:1px solid #ececec;
    }

    #upload progress::-webkit-progress-bar{
        background: #fff;
        border-radius: 3px;
        
        

    }
    #upload progress::-webkit-progress-value {
    border-radius: 3px;
        background: #c1c1c1;

    }



    #upload .metadata {
        width: 65%;
        float: left;
        box-sizing: border-box;
        border-left: 1px solid #fff;
        min-height: 330px;
    }
    #upload .metadata > div {
        padding: 30px 20px 0 20px;    
    }
    #upload .metadata .button {
        float: right;
        padding: 15px 40px;
        opacity: .3;
    }
    #upload .metadata textarea {
        height: 65px;
    }
    #upload h1 {
        background: #fff;
        font-size: 18px;
        padding: 20px;
    }
    #upload .upload p {
        width: 100px;
        margin: 0 auto;
        display: block;
        text-align: center;
        line-height: 1.2;
        margin-top: -5px;
        color: #999;
    }
    #upload .upload img {
        width: 111px;
        height: 111px;
        margin: 0 auto;
        margin: 35px auto 22px auto;
    }




}

@media only screen and (max-width : 768px) and (min-width: 400px) {
    .teasers > div > div,
    .teasers > div > div:last-child {
        width: 49%;
        padding-top: 34%;
    }
    .teasers > div > div:nth-child(even) {
        margin-right: 0;
    }
}

@media only screen and (max-width : 400px) {
    .teasers > div > div ,
    .teasers > div > div:last-child {
        float: none;
        width: auto;
        margin: 0 0 25px;
        padding: 68% 0 0;
    }
}

@media only screen and (max-width : 768px) {
    .wide-teasers > div > div,
    .wide-teasers > div > div:nth-last-child(-n+2),
    .wide-teasers > div > div:nth-child(odd) {
        width: auto;
        height: auto;
        min-height: 146px;
        float: none;
        padding-top: 25px;
        border-bottom: 1px solid #e3e3e3;
        padding-bottom: 10px;
        padding-right: 0;
        margin-bottom: 0;
    }    
    .wide-teasers > div > div:last-child { border: none; }
    .wide-teasers img { top: 25px; }

    body.gallery #gallery li { width: 49.95%; }


    body.gallery #upload-action { display: none; }

    body.gallery .introduction { width: 90%; }
}