@media screen {
    .teasers {
        overflow: hidden;
    }
    .teasers > div { overflow: hidden; }
    .teasers > div > div {
        float: left;
        width: 23.5%;
        margin: 0 2% 0 0;
        padding: 16.8% 0 0;
        position: relative;
    }
    .teasers > div > div:last-child {
        margin: 0;
    }
    .teasers h2 {
        font-family: 'Avenir LT W02 55 Roman';
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -1px;
        margin: 0 0 12px;
    }
    .teasers img {
        max-width: 100%;
        border: 4px solid #fff;
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
    }
    .teasers p {
        font-size: 13px;
        line-height: 1.3;
    }
    .teasers p strong {
        text-indent: -9999px;
        display: inline-block;
    }
    .teasers .price { display: none; }
    .teasers .location {
        margin: 1em 0;
        font-size: 12px;
        color: #666;
    }
    .teasers .location strong {
        width: 13px;
        background-position: -47px 0;
        opacity: .3;
    }
    .wide-teasers {
        margin-top: -20px;
    }
    .wide-teasers > div > div {
        width: 49%;
        padding: 33px 0 0 0;
        margin: 0;
        box-sizing: border-box;
        border-bottom: 1px solid #e3e3e3;
        height: 152px;
    }
    .wide-teasers > div > div:nth-last-child(-n+2) {
        border: 0;
    }
    .wide-teasers > div > div:nth-child(odd) {
        float: left;
        width: 51%;
    }
    .wide-teasers img {
        max-width:none;
        width: 118px;
        top: 30px;
    }
    .wide-teasers h2,
    .wide-teasers p {
        padding-left: 135px;
        padding-right: 20px;
    }
    
    body.gallery .introduction,
    body.gallery #categories {
        width: 75%;        
    }
    body.gallery #upload-action {
        position: absolute;
        right: 15px;
        top: 122px;
        font-family: 'Avenir LT W02 85 Heavy';
        padding: 12px 25px;
    }
    body.gallery #categories {
        margin: 30px 0;
    }
    body.gallery #categories ul {
        display: inline-block;
    }
    body.gallery #categories li {
        display: inline-block;
        background-size: 300px 200px;
        background-repeat: no-repeat;
        background-image: url(/static/images/sprite.png);
        background-position: 0 -58px;
        padding: 0 0 0 12px;
        margin: 0 5px 0 0;
    }
    body.gallery #categories li a {
        background-color: #39beb8;
        height: 25px;
        display: block;
        line-height: 25px;
        color: #ffffff;
        padding:0 10px 0 7px;
        border-radius: 0 2px 2px 0;
    }
    body.gallery #categories-more-action {
        display: inline-block;
    }

    body.gallery #gallery {
        padding: 0 0 60px;
        text-align: center;
    }
    body.gallery #gallery ul {
        margin: 50px -20px 0 0;
    }
    body.gallery #gallery img {
        max-width: 100%;
        border: 4px solid #fff;
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        
    }
    body.gallery #gallery li {
        width: 25%;
        display: block;
        float: left;
        padding:0 20px 16px 0;
        box-sizing: border-box;
    }
    body.gallery #gallery-paging-action {
        background: #fafafa;
        color: #666;
        text-shadow: none;
        font-family: 'Avenir LT W02 85 Heavy';
        margin: 30px 0 0;
        box-sizing: border-box;
        box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.10) inset, 0 0 1px rgba(0,0,0,0.15);
        display: inline-block;
    }
    body.gallery #upload form {
        overflow: hidden;
    }
    body.gallery #upload form > div {
        
    }
    body.gallery #upload .upload {
        width: 35%;
        float: left;
    }
    body.gallery #upload .metadata {
        width: 65%;
        float: left;
        box-sizing: border-box;
        border-left: 1px solid #fff;
        min-height: 330px;
    }
    body.gallery #upload .metadata > div {
        padding: 30px 20px 0 20px;    
    }
    body.gallery #upload .metadata .button {
        float: right;
        padding: 15px 40px;
    }
    body.gallery #upload h1 {
        background: #fff;
        font-size: 18px;
        padding: 20px;
    }


}

@media only screen and (max-width : 768px) and (min-width: 400px) {
    .teasers > div > div,
    .teasers > div > div:last-child {
        width: 49%;
        padding-top: 34%;
    }
    .teasers > div > div:nth-child(even) {
        margin-right: 0;
    }
}

@media only screen and (max-width : 400px) {
    .teasers > div > div ,
    .teasers > div > div:last-child {
        float: none;
        width: auto;
        margin: 0 0 25px;
        padding: 68% 0 0;
    }
}

@media only screen and (max-width : 768px) {
    .wide-teasers > div > div,
    .wide-teasers > div > div:nth-last-child(-n+2),
    .wide-teasers > div > div:nth-child(odd) {
        width: auto;
        height: auto;
        min-height: 146px;
        float: none;
        padding-top: 25px;
        border-bottom: 1px solid #e3e3e3;
        padding-bottom: 10px;
        padding-right: 0;
        margin-bottom: 0;
    }    
    .wide-teasers > div > div:last-child { border: none; }
    .wide-teasers img { top: 25px; }
}