@model Vaultopia.Web.Models.Formats.GalleryImage

<li data-image-id="@Model.Id">
    <a href="@Model.Thumbnail.Url" class="image">
        <span class="enlarge sprite"></span>
        <img src="@Model.Thumbnail.Url" alt=""/>
    </a>
    <a href="#" class="metadata-anchor icon">View image metadata</a>
</li>
