@using EPiServer.Shell.Web.Mvc.Html
@using EPiServer.Web.WebControls
@using Vaultopia.Web.Models.Formats
@using Vaultopia.Web.Models.ViewModels
@model Vaultopia.Web.Models.ViewModels.GalleryViewModel<Vaultopia.Web.Models.Pages.GalleryPage>


    @using (Html.BeginForm())
{
    <div class="Search">
        <div class="ddlSearch">  @Html.DropDownList("category", new SelectList(Model.Categorys, "Id", "Name"), Html.Translate("/categories/all"), new { @class = "DdlSearch" })</div>
        <div class="tbxSearch"> @Html.TextBox("searchImage", null, new { @class = "txbSearch" })</div>
        <input type="submit" value="Search" class="button" />
    </div>

}

