@using EPiServer.Shell.Web.Mvc.Html
@using EPiServer.Web.WebControls
@using EPiServer.XForms.WebControls
@using Vaultopia.Web.Models.Formats
@using Vaultopia.Web.Models.ViewModels
@model Vaultopia.Web.Models.ViewModels.GalleryViewModel<Vaultopia.Web.Models.Pages.GalleryPage>


    @using (Html.BeginForm(new { id = "Search" }))
    { 
        <div class="search">
          <div class="ddlSearch">
              @Html.DropDownList("category", new SelectList(Model.Categorys, "Id", "Name"), Html.Translate("/categories/all"), new { @class = "DdlSearch", onchange = "this.form.submit();" })
          </div>
            <div class="tbxSearch">
                @Html.TextBox("searchImage")
            </div>
      </div>
        
        <input type="submit" value="Search" class="button" />

  
}

