<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=LUNAR\SQLEXPRESS;Initial Catalog=dbVaultopia.Web;Integrated Security=False;User ID=dbUserdbVaultopia.Web;Password=385d4#1G43;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>