@model Vaultopia.Web.Models.ViewModels.PageViewModel<GalleryPage>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrap">
    <h1>@Model.CurrentPage.Heading</h1>
    <p class="introduction">Far far away, behind the word mountains, far from the countries Vokalia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
</div>