@model GalleryPage

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "gallery";
}

<div class="wrap">
    <h1>@Model.Heading</h1>
    <p class="introduction">Far far away, behind the word mountains, far from the countries Vokalia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
    <a class="button" id="upload-action">Upload your photos!</a>
    <section id="categories">
        <ul>
            <li><a href="/">Summer</a></li>
            <li><a href="/">Beach</a></li>
            <li><a href="/">Female</a></li>
            <li><a href="/">Male</a></li>
            <li><a href="/">Water</a></li>
            <li><a href="/">City</a></li>
        </ul>
        <a href="/">Show more categories...</a>
    </section>
    <section id="gallery">
        <ul>
            <li><a href="/"><img src="/static/temp/gallery01.jpg"/></a></li>
            <li><a href="/"><img src="/static/temp/gallery02.jpg"/></a></li>
            <li><a href="/"><img src="/static/temp/gallery03.jpg"/></a></li>
            <li><a href="/"><img src="/static/temp/gallery04.jpg"/></a></li>
            <li><a href="/"><img src="/static/temp/gallery05.jpg"/></a></li>
            <li><a href="/"><img src="/static/temp/gallery06.jpg"/></a></li>
            <li><a href="/"><img src="/static/temp/gallery07.jpg"/></a></li>
            <li><a href="/"><img src="/static/temp/gallery08.jpg"/></a></li>
            <li><a href="/"><img src="/static/temp/gallery09.jpg"/></a></li>
            <li><a href="/"><img src="/static/temp/gallery10.jpg"/></a></li>
            <li><a href="/"><img src="/static/temp/gallery11.jpg"/></a></li>
        </ul>
        <a href="/">Show more awesome photos</a>
    </section>
</div>