@model Vaultopia.Web.Models.UploadModel
<div class="overlay">
    <section class="dialog" id="upload">
        @using (Html.BeginForm("Save")) {
            <div class="upload">
                <h1>1. Upload</h1>
                <div>
                    
                </div>
            </div>
            <div class="metadata">
                <h1>2. Add some words</h1>
                <div>
                    @Html.LabelFor(m => m.Title)
                    @Html.TextBoxFor(m => m.Title)<br />
                    @Html.LabelFor(m => m.Description)
                    @Html.TextAreaFor(m => m.Description)
                    <input type="submit" value="Done" class="button" />
                </div>
            </div>
        }
    </section>    
</div>