<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <handlers>
      <add name="ProcessMapImage.axd" verb="GET,HEAD" path="ProcessMapImage.axd" type="ProcessMap.Server.ProcessMapImageHandler,ProcessMap.Server" />
    </handlers>
  </system.webServer>
 
  <system.web>
    <httpHandlers>
      <add verb="GET,HEAD" path="ProcessMapImage.axd" validate="false" type="ProcessMap.Server.ProcessMapImageHandler,ProcessMap.Server" />
    </httpHandlers>
  </system.web>

  <location path="processmapservice.asmx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

</configuration>