@media screen {

    /*-------------------------
	1. WRAP
	--------------------------*/
    body {
        background: #2eb2ab;
    }

    .wrap {
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
        padding: 0 15px;
    }

    .tbxSearch,.ddlSearch {
        width: 300px;
        height: 100px;
        float: left;
        display: block;
       
        
    }
    
    .DdlSearch {
        height: 40px;
         border:0px;
        outline:0px;
    }

    .Search {
         padding-top: 10px;
    }

    .txbSearch {
        border: solid black 1px;
    }

    .tbxSearch {
        
        padding-right: 100px;
    }
    header {
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
        background-image: -moz-linear-gradient(bottom, #f7f7f7 0%, #fff 100%);
        background-image: -webkit-linear-gradient(bottom, #f7f7f7 0%, #fff 100%);
        background-image: linear-gradient(bottom, #f7f7f7 0%, #fff 100%);
        border-top: 3px solid #2eb2ab;
        min-height: 72px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        position: relative;
        z-index: 999;
    }

    header .button {
        position: absolute;
        right: 12px;
        top: 18px;
    }

    header .icon {
        text-indent: -9999px;
        display: inline-block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 25px;
        opacity: .30;
    }

    header .icon:hover {
        opacity: .45;
    }

    header .facebook {
        background-position: -21px 1px;
        right: 118px;
    }

    header .twitter {
        background-position: 0 1px;
        right: 136px;
    }

    header .article {
        max-width: 100%;
    }
    #toggle-nav { display: none; }

    #global-nav {
        position: absolute;
        top: 25px;
        right: 188px;
        display: block;
    }

    #global-nav li {
        float: left;
        margin: 0 0 0 35px;
    }

    #global-nav li a,
    #global-nav li span {
        color: #676767;
        text-transform: uppercase;
        font-size: 11px;
        font-family: 'Avenir LT W02 85 Heavy', 'helvetica neue', arial, sans-serif;
    }

        #global-nav li a:hover {
            color: #000;
        }

    #global-nav li span {
        color: #333;
    }

    #logotype {
        position: absolute;
        top: 25px;
        left: 15px;
    }
    #logotype img {
        width: 90px;
        height: 25px;
    }

    #push > img {
        width: 100%;
        min-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    #push {
        height: 590px;
        position: relative;
        background: #666;
        margin: 0 auto;
        max-width: 1440px;
        border-bottom: 1px solid #fff;
    }

    #push .slide {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    #push .wrap > div {
        background: rgba(0, 0, 0, 0.65);
        position: relative;
        top: 320px;
        min-height: 210px;
        border-radius: 2px;
        text-align: center;
        z-index: 9999;
    }

    #push p {
        color: #fcffca;
        text-shadow: 0 1px rgba(0, 0, 0, 0.4);
        font-size: 16px;
    }

    #push h1 {
        font-size: 32px;
        text-shadow: 0 1px rgba(0, 0, 0, 0.4);
        padding: 25px 0 5px;
        color: #ffffff;
    }

    #push .button {
        font-family: 'Avenir LT W02 85 Heavy';
        padding: 13px 30px 15px;
        margin: 25px 0 0;
    }

    #push .next {
        background-position: -129px -151px;
        width: 21px;
        height: 21px;
        display: block;
        position: absolute;
        right: 20px;
        top: 88px;
    }

    #push .prev {
        background-position: -129px -186px;
        width: 21px;
        height: 21px;
        display: block;
        position: absolute;
        left: 20px;
        top: 88px;
    }

    main {
        background: #f3f3f3;
        background-image: url(../images/dark.png);
        background-size: 75px;
        display: block;
    }

    main h1 {
        font-size: 30px;
        padding: 60px 0 30px;
    }

    main .introduction {
        font-size: 16px;
        font-family: 'Avenir LT W02 85 Heavy';
        line-height: 1.4;
    }

    main section h1 {
        font-size: 22px;
        padding: 0 0 20px;
    }

    #deals {
        background-image: url(../images/dark.png);
        background-size: 75px;
        border-bottom: 1px solid #fff;
        padding: 40px 0 35px;
    }
    #popular {
        padding: 40px 0 35px;
        background-image: url(../images/light.png);
        background-size: 75px;
    }

    .txbUrl {
        float: right;
    }

    footer {
        padding: 40px 0 50px;
        overflow: hidden;
        background: #39beb8;
    }
    footer section h1 {
        color: #fff;
        font-size: 22px;
        margin: 0 0 15px;
    }
    footer section p {
        font-size: 13px;
        color: #fff;
        margin: 0 0 5px;
        line-height: 1.4;
    }
    footer .button {
        background: #f1f1f1;
        color: #666;
        text-shadow: none;
        font-family: 'Avenir LT W02 85 Heavy';
        margin: 10px 0 0;
    }
    footer .button:hover {
        background: #fff;
    }
    footer #about {
        width: 24%;
        margin: 0 1% 0 0;
        float: left;
    }
    footer #testimonials {
        width: 49%;
        margin: 0 .5%;
        float: left;
    }
    footer #testimonials blockquote {
        position: relative;
    }
    footer #testimonials p {
        position: relative;
        background: #2eb2ab;
        height: 66px;
        border-radius: 3px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        font-size: 16px;
        font-family: georgia;
        font-style: italic;
        padding: 8px 10px;
        margin: 0 0 12px 80px;
    }
    footer #testimonials p:before {
        content: "";
        width: 6px;
        height: 11px;
        display: block;
        position: absolute;
        left:-6px;
        top: 27px;
        background-size: 200px 300px;
        background-repeat: no-repeat;
        background-image: url(../images/sprite.png);
        background-position: -71px 0;
    }
    footer #testimonials img {
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 39px;
        border: 3px solid #fff;
    }

    footer #inspiration {
        width: 23%;
        margin: 0 0 0 2%;
        float: left;
    }

    footer #inspiration img {
        border: 4px solid #fff;
        border-radius: 2px;
        max-width: 100%;
    }
    
    footer #inspiration li {
        float: left;
        width: 26.3%;
        margin-right: 7%;
        margin-bottom: 13px;
    }
    footer #inspiration li:nth-child(3n) {
        width: 26.3%;
        margin-right: 0;
    }

    .contactForm 
    {
        
      
    }

  
   
}


@media only screen and (max-width : 768px) and (min-width: 400px) {
    #push {
        height: 400px;
    }
    #push .wrap > div {
        top: 208px;
        position: relative;
        min-height: 175px;
    }
        #push h1 {
        font-size: 22px;
        margin: 0 0 8px;
    }
        #push p {
            font-size: 14px;
        }
        #push .button {
             padding: 10px 15px;
            font-size: 11px;
        }

    #toggle-nav {
        background-position: 0 -22px;
        width: 27px;
        height: 26px;
        position: absolute;
        right: 15px;
        top: 13px;
        display: block;
        z-index: 999;
    }
    #toggle-nav.open {
        background-position: -40px -22px;
    }

        header {
        min-height: 55px;
    }
        #global-nav {
        top: -3px;
        padding: 55px 0 0;
        left: 0;
        right: 0;
        display: none;
        border-top: 3px solid #2eb2ab;
        z-index: 1;
    }
    #global-nav ul {
        background: #ffffff;
    }
    #global-nav li a,
    #global-nav li span {
        padding: 15px 15px;
        display: block;
    }
    #global-nav:target {
        display: block;
    }
    #global-nav li {
        float: none;
        border-top: 1px solid #eee;
        margin: 0;
    }

        #logotype {
        top: 16px;
    }

    header .button {
        right: 65px;
        top: 15px;
        padding: 3px 10px 4px;
        font-size: 10px;
        box-shadow: none;
                font-family: 'Avenir LT W02 85 Heavy';
    }

        header .facebook,
    header .twitter { display: none; }

    footer #about {
        width: 32%;
        margin-right: 2%;
    }

    footer #testimonials {
        width: 66%;
        margin: 0;
    }

    footer #inspiration {
        clear: both;
        float: none;
        width: 100%;
        margin: 0;
        padding: 30px 0 0;
    }
    footer #inspiration li,
    footer #inspiration li:nth-child(3n) {
        width: auto;
        margin: 0;
        width: 13.67%;
        margin-right: 3.4%;
    }
    footer #inspiration li:last-child {
        margin: 0;
    }

    .contactForm 
    {
        
    }

}


@media only screen and (max-width : 400px) {
    #push {
        height: 220px; 
    }
    #push .wrap > div {
        top: 70px;
        position: relative;
        min-height: 125px;
    }
    #push h1 {
        font-size: 18px;
        margin: 0 0 8px;
    }
    #push p {
        font-size: 13px;
    }
    #push .button {
        position: absolute;
        bottom: -30px;
        display: none;
    }

    header {
        min-height: 55px;
        position: relative;
        z-index: 9999999;
    }

    #global-nav {
        top: -3px;
        padding: 55px 0 0;
        left: 0;
        right: 0;
        display: none;
        border-top: 3px solid #2eb2ab;
        z-index: 999999;
    }
    #global-nav ul {
        background: #ffffff;
    }
    #global-nav li a,
    #global-nav li span {
        padding: 15px 15px;
        display: block;
    }
    #global-nav:target {
        display: block;
    }
    #global-nav li {
        float: none;
        border-top: 1px solid #eee;
        margin: 0;
    }

    header .button,
    header .facebook,
    header .twitter { display: none; }
    
    #toggle-nav {
        background-position: 0 -22px;
        width: 27px;
        height: 26px;
        position: absolute;
        right: 15px;
        top: 13px;
        display: block;
        z-index: 9999999;
    }
    #toggle-nav.open {
        background-position: -40px -22px;
    }

    footer #about,
    footer #testimonials,
    footer #inspiration {
        float: none;
        width: auto;
        margin: 0 0 3em;
    }

    #logotype {
        top: 16px;
    }

    footer #inspiration li,
    footer #inspiration li:nth-child(3n) {
        width: 20.7%;
        margin: 0 5% 12px 0;
    }
    footer #inspiration li:nth-child(4n) {
        margin-right: 0;
    }

    .contactForm 
    {
         
      
    }
}