@using System.ComponentModel.DataAnnotations
@using EPiServer.Web.Mvc.Html
@model Vaultopia.Web.Models.Blocks.ITeaserBlockViewModel<Vaultopia.Web.Models.Blocks.WideTeaserBlock>

<article>
    <h2><a href="/">@Html.PropertyFor(m => m.Block.WideTeaserHeading)</a></h2>
    @if (Model.WebMedia != null)
    {
        <img src="@Model.WebMedia.Url" alt="" />
    }
    <p>@Html.PropertyFor(m =>m.Block.WideTeaserText)</p>
    <p class="location"><strong class="icon">Location: </strong>@Html.PropertyFor(m => m.Block.WideTeaserLocation)</p>
    <p class="price"><strong>Pris: </strong>$@Html.PropertyFor(m => m.Block.WideTeaserPrice)</p>
</article>
