<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="3.3.0" loadLocalBin="false">
  <assemblies>
    <add assembly="ProcessMap.EPiServer75" />
  </assemblies>
  <dojoModules>
    <add name="processmap" path="ClientResources/Scripts" />
  </dojoModules>
  <clientModule initializer="processmap.ModuleInitializer"/>
</module>