@model Vaultopia.Web.Models.Pages.StartPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="push">
    <div class="wrap">
        <div>
            <h1>Where do you want to go?</h1>
            <p>Find your dream vacation among hundreds of destinations worldwide.</p>
            <a href="/" class="button">Learn more</a>
        </div>
    </div>
</section>
<section id="deals">
    <div class="wrap">
        <h1>Awesome deals</h1>
        <ul class="teasers">
            <li>
                <h2><a href="/">Book a weekend here</a></h2>
                <img src="/static/temp/teaser01.jpg" alt="" />
                <p>Far far away, behind the word mountains, far from the Vokalia and Consonantia.</p>
                <p class="location"><strong class="icon">Location: </strong>Miami</p>
                <p class="price"><strong>Pris: </strong>$235</p>
            </li>
            <li>
                <h2><a href="/">Book a weekend here</a></h2>
                <img src="/static/temp/teaser02.jpg" alt="" />
                <p>Far far away, behind the word mountains, far from the Vokalia and Consonantia.</p>
                <p class="location"><strong class="icon">Location: </strong>Miami</p>
                <p class="price"><strong>Pris: </strong>$235</p>
            </li>
            <li>
                <h2><a href="/">Book a weekend here</a></h2>
                <img src="/static/temp/teaser03.jpg" alt="" />
                <p>Far far away, behind the word mountains, far from the Vokalia and Consonantia.</p>
                <p class="location"><strong class="icon">Location: </strong>Miami</p>
                <p class="price"><strong>Pris: </strong>$235</p>
            </li>
            <li>
                <h2><a href="/">Book a weekend here</a></h2>
                <img src="/static/temp/teaser04.jpg" alt="" />
                <p>Far far away, behind the word mountains, far from the Vokalia and Consonantia.</p>
                <p class="location"><strong class="icon">Location: </strong>Miami</p>
                <p class="price"><strong>Pris: </strong>$235</p>
            </li>
        </ul>
    </div>
</section>
<section id="popular">
    <div class="wrap">
        <h1>Popular destinations</h1>
        <ul class="teasers">
            <li class="wide">
                <h2><a href="/">Book a weekend here</a></h2>
                <img src="/static/temp/small01.jpg" alt="" />
                <p>Far far away, behind the word mountains, far from the Vokalia and Consonantia.</p>
                <p class="location"><strong class="icon">Location: </strong>Miami</p>
                <p class="price"><strong>Pris: </strong>$235</p>
            </li>
            <li class="wide">
                <h2><a href="/">Book a weekend here</a></h2>
                <img src="/static/temp/small01.jpg" alt="" />
                <p>Far far away, behind the word mountains, far from the Vokalia and Consonantia.</p>
                <p class="location"><strong class="icon">Location: </strong>Miami</p>
                <p class="price"><strong>Pris: </strong>$235</p>
            </li>
            <li class="wide">
                <h2><a href="/">Book a weekend here</a></h2>
                <img src="/static/temp/small01.jpg" alt="" />
                <p>Far far away, behind the word mountains, far from the Vokalia and Consonantia.</p>
                <p class="location"><strong class="icon">Location: </strong>Miami</p>
                <p class="price"><strong>Pris: </strong>$235</p>
            </li>
            <li class="wide">
                <h2><a href="/">Book a weekend here</a></h2>
                <img src="/static/temp/small01.jpg" alt="" />
                <p>Far far away, behind the word mountains, far from the Vokalia and Consonantia.</p>
                <p class="location"><strong class="icon">Location: </strong>Miami</p>
                <p class="price"><strong>Pris: </strong>$235</p>
            </li>
        </ul>
    </div>
</section>