<?xml version="1.0"?>
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  	<add name="EPiServerDB" connectionString="Data Source=ERICA\SQL2014EXPRESS;Initial Catalog=UAT-Vaultopia-epi;Integrated Security=False;User ID=dbUservaultopia;Password=p@55W0rd!!;MultipleActiveResultSets=True;Connect Timeout=10" providerName="System.Data.SqlClient" 
                 xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>

</connectionStrings>