<connectionStrings>
  <clear />
  <!--<add name="EPiServerDB" connectionString="Server=.\SQLEXPRESS;Database=dbVaultopia;UID=sa;password=Meriworks;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  <add name="EPiServerDB" connectionString="Data Source=amanda\SQL2014;Database=QA-Vaultopia-epi;User Id=dbUservaultopia;Password=p@55W0rd!!;Network Library=DBMSSOCN;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
</connectionStrings>