<connectionStrings>
  <clear />
  <!--<add name="EPiServerDB" connectionString="Data Source=amanda;Database=Dev-vaultopia-EPi;User Id=dbUservaultopia;Password=p@55W0rd!;Network Library=DBMSSOCN;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  <add name="EPiServerDB" connectionString="Data Source=localhost;Database=dbimagevault4.demo.episerver.com;User Id=dbUserimagevault4.demo.episerver.com;Password=p@55W0rd!;Network Library=DBMSSOCN;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

</connectionStrings>