<imagevault.client>
  <authentication>
    <!--Add the Client identity below (username, password)-->
    <sdkIdentity key="iv4sdk" secret="$uper5ecret" />
  </authentication>
  <!--Change the address to point to your ImageVault Core instance-->
  <imageVaultCore address="https://imagevault.se:9904" />
  <appSettings>
    <!--<add key="defaultMediaUrlBase" value="/imagevault/" />-->
    <add key="defaultMediaUrlBase" value="http://standalone.imagevault.se/imagevault/" />
    <!--Set to false because of bugg id 1474-->
    <add key="enableClientCache" value="false" />
    <add key="ImageVaultUiUrl" value="http://standalone.imagevault.se" />
  </appSettings>
</imagevault.client>