<?xml version="1.0" encoding="utf-8"?>
<imagevault.client>
  <authentication>
    <!--Add the Client identity below (username, password)-->
    <!-- <sdkIdentity key="iv4sdk" secret="$uper5ecret" /> -->
    <sdkIdentity key="iv4sdk" secret="epipartner" />
  </authentication>
  <!--Change the address to point to your ImageVault Core instance-->
  <!-- <imageVaultCore address="https://imagevault.se:9904" /> -->
  <imageVaultCore address="https://localhost:9902" />
  <appSettings>
    <add key="defaultMediaUrlBase" value="/imagevault/" />
    <!--<add key="defaultMediaUrlBase" value="http://standalone.imagevault.se/imagevault/" />-->
    <!--Set to false because of bugg id 1474-->
    <add key="enableClientCache" value="true" />
    <!-- <add key="ImageVaultUiUrl" value="http://standalone.imagevault.se" /> -->
  </appSettings>
</imagevault.client>