<imagevault.client>
  <authentication>
    <!--Add the Client identity below (username, password)-->
    <sdkIdentity key="iv4sdk" secret="epipartner" />
  </authentication>
  <!--Change the address to point to your ImageVault Core instance-->
  <imageVaultCore address="https://demo.imagevault.se:443" />
  <appSettings>
    <add key="defaultMediaUrlBase" value="/imagevault/" />
    <add key="enableClientCache" value="true" />
  </appSettings>
</imagevault.client>