<?xml version="1.0" encoding="utf-8"?>
<LicenseFile xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Licenses name="ProcessMap" licenseId="12582" licenseVersionNumber="2">
    <SignHash>nPJQa6fKNzzEu1dSKpCV4goeZjesQZN5nUFGeWDjvnIzgmQz512uomN4235N+Mk1KlECi5LXQsB3SQjSzzclFQ==</SignHash>
    <MetaData>
      <XMLSerializableDictionaryItem key="Company" value="" />
      <XMLSerializableDictionaryItem key="OrganisationNumber" value="" />
      <XMLSerializableDictionaryItem key="BillingCompany" value="Meriworks" />
      <XMLSerializableDictionaryItem key="BillingContactName" value="Johan Magnusson" />
      <XMLSerializableDictionaryItem key="BillingContactAddress" value="Svensknabbeväge 17 39351 KALMAR" />
      <XMLSerializableDictionaryItem key="BillingContactZip" />
      <XMLSerializableDictionaryItem key="BillingContactCity" />
      <XMLSerializableDictionaryItem key="BillingContactCountry" value="Sverige" />
      <XMLSerializableDictionaryItem key="BillingContactTelephone" value="-" />
      <XMLSerializableDictionaryItem key="BillingContactEmail" value="johan@meridium.se" />
    </MetaData>
    <Restrictions>
      <ValidToRestriction validTo="2016-10-05 15:55:54" />
      <DeveloperRestriction />
      <MACRestriction macAddress="60:EB:69:8F:70:78" />
    </Restrictions>
  </Licenses>
</LicenseFile>