<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <authentication mode="Forms" xdt:Transform="Replace">
      <forms name=".EPiServerLogin" domain="imagevault.se" loginUrl="Util/login.aspx" timeout="120" defaultUrl="~/" />
    </authentication>
    <machineKey xdt:Transform="Replace" decryption="Auto" decryptionKey="320EDAE47CCB530A3111303AED4F551CD2DAE13265575F13" validation="SHA1" validationKey="6B56AD673DD24ACF276B9FE055428148BCC7ADF622878250696D00A1B126C550D497D62429F694D7D6438D02C7485EC298C01F77C487E75C4AAB85431521C7F5" />
  </system.web>
  <system.webServer >
    <rewrite xdt:Transform="Insert">
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
    <se.meridium>
        <ProcessMap>
            <appSettings>
                <add key="processMapEditorBasePath" value="https://demo.imagevault.se/Plugins/ProcessMap/Client"
                     xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
            </appSettings>
        </ProcessMap>
    </se.meridium>
</configuration>
<!--ProjectGuid: 546E319E-7804-4D59-A850-FF6F5BD1F9E9-->